@import '../styles/variables.scss';
 
 .header {
     width: 100%;
     height: $header-height;
     background-color: #fff;
     display: flex;
     justify-content: space-between;
     &__bar {
        margin: 25px 0 0 40px;
        display: flex;
        align-items: center;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.69px;
        color :#252F48;
        &_arrow {
            color: #0AD69C;
            font-size: 8px;
            height: 9px;
            margin:0 12px 0 12px;
        }
        &_item {
            background-color: #fff;
            border: none;
            cursor: pointer;
        }
     }
 }

 .account {
     background-color: #fff;
     border: none;
     display: flex;
     align-items: center;
     margin: 25px 40px 0 0px;
     &__img {
        width: 22px;
        height: 22px;
        background-image: url(../../assets/sarah.png);
        background-size: cover;
        border-radius: 100%;
     }
     &__name {
        letter-spacing: 0.28px;
        font-size: 14px;
        padding:0 5px 0 9px;
     }
     &__chevron  {
        font-size: 8px;
        color: #01134E;
     }
 }