@import './variables.scss';

.main-content {
    background-color: #fff;
    height: 100%;
    margin: 40px 42px 0 40px;
    display: flex;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(153, 163, 174, 0.06);
    max-height: 556px;
}

.contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contacts__item {
    width: 100%;
    height: 93px;
    display: flex;
    position: relative;
    background-color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #F7F9FC;
    }
    &_img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-size:cover;
        margin: 22px 14px 18px 21px;
        background-repeat: no-repeat;
        background-position: -15px;
    }
    &_name {
        position: absolute;
        margin: 23px 0 0 85px;
    }
    &_status1 {
        background-color: #0AD69C;
        border-radius: 100%;
        width: 6px;
        height: 6px;
        transform: translate(-50% -50%);
        margin: 21px 0 0 104px;

    }
    &_last-mesage {
        position: absolute;
        margin: 48px 0 0 85px;
    }
    &_time {
        position: absolute;
        margin: 10px 0 0 255px;

    }

}

.foto_1 {
    background-image: url(../../assets/mishel.png);
}
.foto_2 {
    background-image: url(../../assets/Barry.png);
}
.foto_3 {
    background-image: url(../../assets/Stassy.png);
}
.foto_4 {
    background-image: url(../../assets/Michael.png);
}
.foto_5 {
    background-image: url(../../assets/jony.png);
}
.foto_6 {
    background-image: url(../../assets/Stasey.png);
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &__search {
        display: flex;
        height: 47px;
        cursor: text;
        &_button {
            background-color: #fff;
            height: 100%;
            width: 45px;
            border: none;
            color: #DADADA;
            cursor: pointer;
            
        }
        &_input {
            border: none;
            background-color: #fff;
            width: 100%;
    
        }

    }

}

.chat__message-field {
    background-color: #fff;
    width: 100%;
    height: 500px;
    max-height: 447px;
    overflow-y:scroll;
}

.divider {
    height: 1px;
    background-color: #F5F6F9;
    width: 100%;
}

.chat__input {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &_input {
        width: 100%;
        max-width: 375px;
        height: 60px;
        color: #252F48;
        border: none;
        padding-left: 20px;
        cursor: text;
    }
    &_smiles {
        width: 36px;
        height: 36px;
        border: none;
        background-color: #fff;
        border-radius: 7px;
        font-size: 18px;
        color: #DADADA;
        &:hover {
                color: #0AD69C;
                box-shadow: 0 0 15px rgba(153, 163, 174, 0.2593);
        }
    }
    &_add {
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 7px;
        background-color: #fff;
        font-size: 18px;
        color: #BBC3CF;
        &:hover {
            color: #0AD69C;
            box-shadow: 0 0 15px rgba(153, 163, 174, 0.2593);
        }
    }
    &_send {
        width: 36px;
        height:  36px;
        border: none;
        border-radius: 7px;
        background-color: #fff;
        font-size: 18px;
        color: #DADADA;
        &:hover {
            color: #0AD69C;
            box-shadow: 0 0 15px rgba(153, 163, 174, 0.2593);
        }
    }
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } 
input:focus::-moz-placeholder { color:transparent; } 
input:focus:-ms-input-placeholder { color:transparent; }