@import './variables.scss';

.main-content {
    background-color: red;
    height: 100%;
    margin: 40px 42px 0 40px;
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
    width:300px;
    height: 100%;
}

.contacts__item {
    width: 100%;
    min-width: 300px;
    height: 91px;
    display: flex;
    position: relative;
    background-color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #F7F9FC;
    }
    &_img {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-size:cover;
        margin: 22px 14px 18px 21px;
        background-repeat: no-repeat;
        background-position: -15px;
    }
    &_name {
        position: absolute;
        margin: 23px 0 0 85px;
    }
    &_status1 {
        background-color: #0AD69C;
        border-radius: 100%;
        width: 6px;
        height: 6px;
        transform: translate(-50% -50%);
        margin: 21px 0 0 104px;

    }
    &_last-mesage {
        position: absolute;
        margin: 48px 0 0 85px;
    }
    &_time {
        position: absolute;
        margin: 10px 0 0 255px;

    }

}

.foto_1 {
    background-image: url(../../assets/mishel.png);
}
.foto_2 {
    background-image: url(../../assets/Barry.png);
}
.foto_3 {
    background-image: url(../../assets/Stassy.png);
}
.foto_4 {
    background-image: url(../../assets/Michael.png);
}
.foto_5 {
    background-image: url(../../assets/jony.png);
}
.foto_6 {
    background-image: url(../../assets/Stasey.png);
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &__search {
        display: flex;
        height: 47px;
        &_button {
            background-color: #fff;
            height: 100%;
            width: 45px;
            border: none;
            color: #DADADA;
            
        }
        &_input {
            border: none;
            background-color: #fff;
            width: 100%;
    
        }

    }

}

.chat__message-field {
    background-color: blue;
    width: 100%;
    height: 100%;
    max-height: 447px;
}
