@import '../styles/variables.scss';
.menu {
    width: 90px;
    background-color: #01134E;
    height: 100%;
    min-height: 760px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__items{
        &_logo {
            width: 35px;
            height: 35px;
            margin-top: 18px;
            background-image: url(../../assets/logo.png);
            background-size: cover;
            margin-bottom: 46px;
        }
        &_btn {
            display: flex;
            align-items: center;
            position: relative;
            border: none;
            background-color: #01134E;
            width: 100%;
            margin: 0 auto;
            padding: 10px 0 10px 0;
            text-align: center;
            color: #8089A6;
            font-size: 20px;
            height: 100%;
            &:hover {
                color: #fff;
                cursor: pointer;
            }
            &_active {
                .indication{
                    background-color: #0AD69C;
                }
             }
        }
    }

}

.indication {
    background-color: #01134E;
    width: 4px;
    height: 48px;
    &__active {
        background-color: #0AD69C;
    }

}


.fa-calendar {
    padding-left: calc($menu-width - 50%);
}
.fa-user-o {
    padding-left: 31px;
}
.fa-wrench {
    padding-left: 31px;
}
.fa-users {
    padding-left: 31px;
}
.fa-envelope {
    padding-left: 31px;
}